<h1 class="h4">Node.js</h1>

<p>{{ _ "Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices." }}</p>
<p>{{ _ "With Getup you can easily deploy and run Node.js applications using your favorite framework and databases. Auto-Scale to millions of users without breaking a sweat about server setup and administration. Forget about servers and focus on the code." }}</p>

<h2 class="h5">Simplify the lifecycle</h2>
<p>{{ _ "Deploying Node.js application with MySQL is as easy as it can be:" }}</p>
<pre>$ rhc app-create App nodejs-0.10 mysql-5.1</pre>
<p>{{ _ "The command will create your gear (server), install and configure Node.js, MySQL and git repository on the server. Access your application on the web at http://App-namespace.getup.io - HTTPS works just fine as well, and all applications have a SSL certificate." }}</p>

<h2 class="h5">{{ _ "Auto scale" }}</h2>
<p>{{ _ "What about scale? Don't worry about it, we are specialists in high traffic, simple add the -s parameter when creating your application and voilá - the platform will scale your application." }}</p>
<pre>$ rhc app-create App nodejs-0.10 -s</pre>
<p>{{ _ "The scalability is based on simultaneous connections. The platform will add new gears every time your application receives a traffic spike, automatically. " }}</p>

<h3 class="h5">{{ _ "Frameworks, databases and other tools" }}</h3>
<p>{{ _ "Work with frameworks like Express or Stylus." }}</p>
<pre>$ rhc app-create App php-5.3 mysql-5.1 --from-code=https://github.com/openshift/CodeIgniterQuickStart</pre>
<p>{{ _ "Work with database like MySQL, PostgreSQL or MongoDB through cartridges" }}</p>
<pre>$ rhc cartridge add mysql-5.1 -a App</pre>