<header class="wrapper">
    <h2>{{ _ "Legal Definitions" }}</h2>
    <nav class="clearfix mobile-custom-nav">
        <p class="h3"><a href="javascript:;">{{ _ "Technologies " }}</a></p>
        <ul>
        	<li><a href="{{ _ "/terms-of-use" }}" class="terms" title="{{ _ "Terms of Use" }}"><span>{{ _ "Terms of Use" }}</span></a></li>
        	<li><a href="{{ _ "/privacy-policy" }}" class="privacy" title="{{ _ "Privacy Policy" }}"><span>{{ _ "Privacy Policy" }}</span></a></li>
        	<li><a href="{{ _ "/acceptable-use-policy" }}" class="acceptable" title="{{ _ "Acceptable use Policy" }}"><span>{{ _ "Acceptable use Policy" }}</span></a></li>
        	<li><a href="{{ _ "/support-policy" }}" class="support" title="{{ _ "Support Policy" }}"><span>{{ _ "Support Policy" }}</span></a></li>
        </ul>
    </nav>
</header>