<article id="sign-up" class="pageview" data-pageview="signup">
    <header>
        <div class="background map">
            <div class="wrapper">
                <h2>{{ _ "750 free hours to test Getup: create your account and take it, it's free."}}</h2>
                <a class="button orange fsize3 padX15Y0 article all-article"  data-event="Signup,Button,Free trial" href="javascript:;"  onclick="Getup.articles.sign_up.link()" >{{ _ "Free Trial"}}</a>
            </div>
        </div>
    </header>
    <section class="wrapper">
        <form method="post" action="{{ signup }}">
            <input type="hidden" name="lang" id="language" value="{{ language }}">
            <input type="hidden" name="partner" id="partner" value="">
            <fieldset>
                <legend>{{ _ "Create Account"}}</legend>
                <p>{{ _ "750h small gear - create an app, add a database and run it free for 1 month." }}</p>

                <div class="form">
                    <label>
                        <input type="text" tabindex="1" name="name" placeholder="{{ _ "Full name" }}" />
                    </label>
                    <label>
                        <input type="text" tabindex="2" name="email" placeholder="{{ _ "E-mail" }}"/>
                    </label>
                    <label>
                        <input type="password" tabindex="3" name="password1" placeholder="{{ _ "Password" }}"/>
                        <small>{{ _ "*Minimum 6 characters" }}</small>
                        <small class="no-padding" >{{ _ "Letters, numbers and/or symbols" }}</small>
                    </label>
                    <label>
                        <input type="text" tabindex="4" name="coupon_code" placeholder="{{ _ "Insert your PROMOCODE, if you have one" }}"/>
                    </label>
                    <label class="invisible"><!-- Layout placeholder --></label>
                    <label class="invisible"><!-- Layout placeholder --></label>

                    <input class="visuallyhidden" type="password" tabindex="3" name="password2" />
                    <input class="visuallyhidden" type="checkbox" name="use_terms" value="1" checked="true">
                </div>

                <div class="actions">
                    <div class="right">
                        <button class="button tblack fsize1 trackevent sign-up-cancel" data-event="Signup,Button,Cancel">{{ _ "Cancel"}}</button>
                        <button class="button orange fsize1 trackevent" data-event="Signup,Button,Continue"><span>{{ _ "Continue"}}</span></button>
                    </div>
                </div>
            </fieldset>
        </form>
        <p id="success">
            <strong>{{ _ "Welcome aboard."}}</strong>
            <span>{{ _ "We sent you a email confirmation. Thank you!"}}</span>
        </p>       
    </section><!-- . -->
</article>
