<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ language }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ language }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ language }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ language }}"> <!--<![endif]-->

    {{> head }}

    <body class="preloader article-links">

        {{> header }}

        <div class="main-container">
            <div class="main clearfix">

                <article id="home" class="carousel pageview" data-pageview="home">
                    <section class="item-01">
                        <div class="wrapper">
                            <h2>{{ _ "Getup is a scalable cloud application platform"}}</h2>
                            <p>{{ _ "An easy and fast way to build and deploy web apps."}}</p>
                            <p>{{ _ "You only have to worry about coding your app - we take care of everything else."}}</p>

                            <div class="actions">
                                <a class="button orange article btn-large" data-event="Carousel,Button,Free Trial,1"  href="#sign-up" data-article="sign-up">{{ _ "Free Trial"}}</a>
                                <small>{{ _ "No credit card required"}}</small>
                            </div>
                       </div>
                    </section>

                    <section class="item-02 white">
                        <div class="wrapper">
                            <h2>{{ _ "Grow in the cloud"}}</h2>
                            <p class="cyan">{{ _ "Compute power when you need it most."}}</p>

                            <div class="actions">
                                <a class="button orange article btn-large" data-event="Carousel,Button,Free Trial,2" href="#sign-up" data-article="sign-up">{{ _ "Free Trial"}}</a>
                                <small class="white">{{ _ "No credit card required"}}</small>
                            </div>
                        </div>
                    </section>

                    <section class="item-03">
                        <div class="wrapper">
                            <h2>{{ _ "Auto Scale"}}</h2>
                            <p>{{ _ "Don't get caught by traffic spikes."}}</p>
                            <p>{{ _ "Deploy and scale to millions of users."}}</p>

                            <div class="actions">
                                <a class="button orange article btn-large" data-event="Carousel,Button,Free Trial,3" href="#sign-up" data-article="sign-up">{{ _ "Free Trial"}}</a>
                                <small>{{ _ "No credit card required"}}</small>
                            </div>
                        </div>
                    </section>
                </article> <!-- #home -->

                <article id="how-it-works" class="wrapper pageview" data-pageview="how">
                    <header>
                        <h2>{{ _ "Deploy your application in minutes"}}</h2>
                        <p>{{ _ "Create and deploy web applications without the cost and complexity of buying and managing servers. It's faster and cheaper than creating AWS instances."}}</p>
                    </header>

                    <div class="centralized">
                        <section>
                            <h3 class="create">{{ _ "Create your application"}}</h3>
                            <p>{{ _ "Choose the technology"}}: PHP, Ruby, Python, Node.js</p>

                            <a href="javascript:;" data-event="How it works,See More,Create" data-text="{{ _ "Less"}}">{{ _ "See More"}}</a>

                            <dl>
                                <dt>{{ _ "SSL"}}</dt>
                                <dd>{{ _ "Included to all applications."}}</dd>

                                <dt>{{ _ "Cartridges"}}</dt>
                                <dd>{{ _ "Add components to your app."}}</dd>
                                <dd>$ rhc app-create AppName PHP-5 MySQL-5</dd>
                            </dl>
                        </section><!-- .create -->
                        <section>
                            <h3 class="deploy">{{ _ "Deploy"}}</h3>
                            <p>{{ _ "Just type 'git push' and voilá! Your application is up and running!"}}</p>

                            <a href="javascript:;" data-event="How it works,See More,Deploy" data-text="{{ _ "Less"}}">{{ _ "See More"}}</a>

                            <dl>
                                <dt>{{ _ "Built-in Databases"}}</dt>
                                <dd>{{ _ "Add a database just adding a new cartridge."}}</dd>
                                <dd>$ rhc cartridge-add MySQL-5 -a AppName</dd>
                            </dl>
                        </section><!-- .deploy -->
                        <section>
                            <h3 class="scale">{{ _ "Scale"}}</h3>
                            <p>{{ _ "With auto-scale you don't need to worry about growth, don't get caught by traffic spikes."}}</p>

                            <a href="javascript:;" data-event="How it works,See More,Scale" data-text="{{ _ "Less"}}">{{ _ "See More"}}</a>

                            <dl>
                                <dt>{{ _ "Monitor"}}</dt>
                                <dd>{{ _ "New gears to handle traffic spikes. Scale to millions of users."}}</dd>

                                <dt>{{ _ "Pay as you go"}}</dt>
                                <dd>{{ _ "Pay by hour usage and just for the time that each gear was active. It's more efficient and versatile than traditional computing."}}</dd>

                                <dt>{{ _ "That's it."}}</dt>
                                <dd class="beer">{{ _ "Just lean back and enjoy the ride. And don't forget the liquid gold!"}}</dd>
                            </dl>
                        </section><!-- .scale -->
                    </div>
                </article> <!-- #how-it-works -->

                <div class="background gray">
                    <article id="pricing" class="wrapper pageview" data-pageview="pricing">
                        <header>
                            <h2>{{ _ "Pricing and Benefits"}}</h2>
                        </header>
                        <section>
                            <div class="right">
                                <p>{{ _ "Getup is the best hosting option for those who do not want to waste time setting up servers."}}</p>
                                <p>{{ _ "An application can run using one or more gears and the amount will be determined by the volume of access."}}</p>
                                <p>{{ _ "The monthly cost is calculated by the number of gears used and the number of hours that each gear were active."}}</p>

                                <div class="white-border round compare article trackevent" data-event="Pricing,Button,Compare" data-article="compare">
                                    <h3>{{ _ "Compare with other services"}}</h3>
                                    <p>{{ _ "Compare Getup with other services for a month with a traffic peak as an example"}} <a href="javacript:;">{{ _ "Check it out."}}</a></p>
                                </div>
                            </div>                        

                            <div class="left">
                                <dl>
                                    <dt>{{ _ "Auto Scaling"}}</dt>
                                    <dd>{{ _ "included"}}</dd>

                                    <dt>{{ _ "Support"}}</dt>
                                    <dd>{{ _ "Ticket, Forum, Community"}}</dd>

                                    <dt>SSL</dt>
                                    <dd>{{ _ "Shared SSL included"}}</dd>

                                    <dt class="no-border">{{ _ "API requests"}}</dt>
                                    <dd class="no-border">{{ _ "Unlimited"}}</dd>
                                </dl>
                                <br/>
                                <dl class="blue round">
                                    <dt class="no-border">{{ _ "GEAR"}} <i class="tooltip" data-text="{{ _ 'Gear is your cloud instance. The Small Gear has 512MB RAM / 3GB storage and the Medium Gear has 1GB RAM / 6GB storage. If one application needs more resources, it can use multiple - that scalability thing.' }} ">?</i></dt>
                                    <dd class="no-border">{{ _ "US$ 0,058/hour "}}<small>Small</small></dd>
                                    <dt>&nbsp</dt>
                                    <dd>{{ _ "US$ 0,159/hour "}}<small>Medium</small></dd>

                                    <dt class="no-border">{{ _ "Monthly cost"}}</dt>
                                    <dd class="no-border">{{ _ "US$ ~42,50 "}}<small>Small</small></dd>
                                    <dt class="no-border">&nbsp</dt>
                                    <dd class="no-border">{{ _ "US$ ~116,53 "}}<small>Medium</small></dd>
                                </dl>
                            </div>
                        </section><!-- .prices -->
                    </article> <!-- #pricing -->
                </div>

                <div class="background gray">
                    <article id="compare" class="wrapper pageview" data-pageview="pricing/gear">
                        <section>
                            <table class="round" alt="{{ _ 'Other hosting companies' }}">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th><strong class="ir">Getup</strong></th>
                                        <th>{{ _ "Cloud Server"}}</th>
                                        <th>{{ _ "Shared Hosting"}}</th>
                                    </tr>                                
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ _ "Resource"}}</td>
                                        <td>1 gear <i class="tooltip" data-text="{{ _ 'Gear is your cloud instance. The Small Gear has 512MB RAM / 3GB storage and the Medium Gear has 1GB RAM / 6GB storage. If one application needs more resources, it can use multiple - that scalability thing.' }}">?</i></td>
                                        <td>{{ _ "Cloud Server"}} 512Mb RAM</td>
                                        <td>1 {{ _ "hosting"}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ _ "Auto Scaling"}}</td>
                                        <td>{{ _ "Yes"}}</td>
                                        <td>{{ _ "No"}}</td>
                                        <td>{{ _ "What?"}}</td>
                                    </tr>
                                    <tr class="light-blue">
                                        <td><small>{{ _ "Monthly fee"}}</small></td>
                                        <td><strong>{{ _ "US$ ~42,50 "}}<small>Small</small></strong> <i class="tooltip" data-text="{{ _ '730h monthly.' }}">?</i></td>
                                        <td><strong>{{ _ "US$ ~10,13"}}</strong></td>
                                        <td><strong>{{ _ "US$ ~20"}}</strong></td>
                                    </tr>
                                    <tr class="no-border">
                                        <td>{{ _ "+ Server Admin"}}</td>
                                        <td>{{ _ "included"}}</td>
                                        <td>{{ _ "need subscription"}}</td>
                                        <td>{{ _ "included"}}</td>
                                    </tr>
                                    <tr class="light-blue">
                                        <td><small>{{ _ "Monthly fee"}}</small></td>
                                        <td><strong>{{ _ "US$ ~42,50 "}}<small>Small</small></strong></td>
                                        <td><strong>{{ _ "US$ ~89,79"}}</strong></td>
                                        <td><strong>{{ _ "US$ ~20"}}</strong></td>
                                    </tr>
                                    <tr class="no-border">
                                        <td>{{ _ "Traffic Peak"}}</td>
                                        <td>{{ _ "Auto Scale out"}} +2 web gears</td>
                                        <td>{{ _ "turn off server, add 1GB, turn on server"}}</td>
                                        <td>{{ _ "Light a candle!"}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ _ "End of Peak - 6 hours"}}</td>
                                        <td>{{ _ "Auto Scale down"}}</td>
                                        <td>{{ _ "turn off server, remove 1GB, turn on server"}}</td>
                                        <td>{{ _ "-"}}</td>
                                    </tr>
                                    <tr class="light-blue">
                                        <td><small>{{ _ "Additional charge"}}</small></td>
                                        <td>{{ _ "2 gears x 6 hours x US$ 0,058 ="}}  <strong>{{ _ "US$ 0,69"}}</strong> </td>
                                        <td>{{ _ "24hs x US$ ~0,06 (1GB) ="}} <strong>{{ _ "US$ 1,44"}}</strong> <i class="tooltip" data-text="{{ _ 'Trying minimize the user impact you did upgrade one day before and returned on day after the peak.' }}">?</i></td>
                                        <td>{{ _ "-"}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>{{ _ "Total"}}</td>
                                        <td><strong>{{ _ "US$ 44,09"}}</strong> <b>{{ _ "Peace of mind"}}</b> {{ _ "You just get the traffic peaks on analytics."}}</td>
                                        <td><strong>{{ _ "US$ 91,19"}}</strong> <b>{{ _ "Hard Work."}}</b> {{ _ "You had to reboot your server twice."}}</td>
                                        <td><strong>{{ _ "US$ 20"}}</strong> <b>{{ _ "Don't be cheap!"}}</b> {{ _ "Your site went down and you lost pageviews."}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </section><!-- .compare -->
                    </article> <!-- #pricing -->
                </div>

                {{> signup }}

                {{> contact }}

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        {{> footer }}
    </body>
</html>