<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ language }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ language }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ language }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ language }}"> <!--<![endif]-->

    {{> head }}

    <body>

        {{> header }}

        <div class="main-container">
            <div class="main clearfix">
                <article id="technologies" class="wrapper pageview" data-pageview="technologies">
                    <header>
                        <h2>{{ _ "Technologies" }}</h2>
                        <p>{{ _ "We say we’re polyglots because we offer support to a wide list of programming languages and services deployed through a cartridge. Cartridges can be web frameworks, databases, monitoring services or connectors to external backends." }}</p>
                        <p>{{ _ "Delivering services and frameworks through a cartridge offers developers and system administrators a way to get more productivity and standardization. Focus on your code, that’s the message!" }}</p>
                    </header>

                    <nav>
                        <h3><a href="/{{ _ "technology" }}">Technologies</a></h3>

                        <ul>
                            <li><a href="/{{ _ "technology" }}/php">PHP 5.3 / 5.4 / 5.5</a></li>
                            <li><a href="/{{ _ "technology" }}/ruby">Ruby 1.8 / 1.9  </a></li>
                            <li><a href="/{{ _ "technology" }}/nodejs">Node.js</a></li>
                            <li><a href="/{{ _ "technology" }}/python">Python 2.6 / 2.7 / 3.3 </a></li>
                            <li><a href="/{{ _ "technology" }}/tomcat">Tomcat (JBOSS EWS) 6 / 7</a></li>
                            <li><a href="/{{ _ "technology" }}/perl">Perl</a></li>
                            <li><a href="/{{ _ "technology" }}/mysql">MySQL</a></li>
                            <li><a href="/{{ _ "technology" }}/postgresql">PostgreSQL 8.4 / 9.2</a></li>
                            <li><a href="/{{ _ "technology" }}/mongodb">MongoDB</a></li>
                        </ul>
                    </nav>

                    <section>
                    {{> technology }}
                    </section>
                </article> <!-- #technologies -->

                {{> signup }}

                {{> contact }}

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        {{> footer }}
    </body>
</html>

{{ test }}