<h4>MySQL</h4>

<p>{{ _ "MySQL is an open-source relational database management system. " }}</p>
<p>{{ _ "With Getup you can easily deploy and run applications bacled by MySQL using your favorite servers and frameworks. " }}</p>

<h5>{{ _ "Simplify the lifecycle" }}</h5>
<p>{{ _ "Deploying PHP application with MySQL is as easy as it can be:" }}</p>
<pre>$ rhc app-create App php-5.5 mysql-5.1</pre>
<p>{{ _ "The command will create your gear (server), install and configure PHP, MySQL and git repository on the server. Access your application on the web at http://App-namespace.getup.io - HTTPS works just fine as well, and all applications have a SSL certificate." }}</p>

<h5>{{ _ "Tools" }}</h5>
<p>{{ _ "Would like to work with PHPMyAdmin?" }}</p>
<pre>$ rhc cartridge add phpmyadmin -a App</pre>
<p>Access at <a href="https://App-namespace.getup.io/phpmyadmin" target="_blank">https://App-namespace.getup.io/phpmyadmin</a></p>

<p>{{ _ "Or use your favorite client to get access through a SSH tunnel" }}</p>
<pre>$ rhc port-foward -a App</pre>