<h3>{{ _ "Resources Available" }}:</h3>
<div>
    <ul>
        <li>Gear Small</li>
        <li>Gear Medium</li>
    </ul>
    <a href="" title="{{ _ "Check the price" }}">{{ _ "Check the price" }}</a>
</div>
<div class="border">
    <ul>
        <li>{{ _ "Dedicated Server" }}</li>
    </ul>
    <a href="" title="{{ _ "Get in touch" }}">{{ _ "Get in touch" }}</a>
</div>