<div class="background map">
    <article id="multiple-datacenters" class="pageview" data-pageview="multiple_datacenters">
        <header class="wrapper">
            <h2>{{ _ "Multiple Datacenters" }}</h2>
            <h3>{{ _ "Deploy your application closer to your users for better latency or in more than one location for high availability." }}</h3>
        </header>
        <section>
            <div class="point oregon left">
                <div class="tooltip">
                    <div class="wr">
                        <h2>{{ _ "Oregon"}}</h2>
                        {{> multiple_datacenter_complex }}
                    </div>
                </div>
            </div>
            <div class="point virginia left">
                <div class="tooltip">
                    <div class="wr">
                        <h2>{{ _ "Virginia"}}</h2>
                        {{> multiple_datacenter_simple }}                                    
                    </div>
                </div>
            </div>
            <div class="point california left">
                <div class="tooltip">
                    <div class="wr">
                        <h2>{{ _ "California"}}</h2>
                        {{> multiple_datacenter_simple }}                                    
                    </div>
                </div>
            </div>
            <div class="point ireland left">
                <div class="tooltip">
                    <div class="wr">
                        <h2>{{ _ "Ireland"}}</h2>
                        {{> multiple_datacenter_simple }}                                    
                    </div>
                </div>
            </div>
            <div class="point frankfurt left">
                <div class="tooltip">
                    <div class="wr">
                        <h2>{{ _ "Frankfurt"}}</h2>
                        {{> multiple_datacenter_simple }}                                    
                    </div>
                </div>
            </div>
            <div class="point singapore right">
                <div class="tooltip">
                    <div class="wr">
                        <h2>{{ _ "Singapore"}}</h2>
                        {{> multiple_datacenter_simple }}                                    
                    </div>
                </div>
            </div>
            <div class="point tokyo right">
                <div class="tooltip">
                    <div class="wr">
                        <h2>{{ _ "Tokyo"}}</h2>
                        {{> multiple_datacenter_simple }}                                    
                    </div>
                </div>
            </div>
            <div class="point sydney right">
                <div class="tooltip">
                    <div class="wr">
                        <h2>{{ _ "Sydney"}}</h2>
                        {{> multiple_datacenter_simple }}                                    
                    </div>
                </div>
            </div>
            <div class="point saopaulo left">
                <div class="tooltip">
                    <div class="wr">
                        <h2>{{ _ "São Paulo"}}</h2>
                        {{> multiple_datacenter_complex }}                                    
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>