<h3>{{ _ "Resources Available" }}:</h3>
<div>
    <ul>
        <li>{{ _ "Dedicated Server" }}</li>
    </ul>
    <a href="{{ _ "/contact" }}" title="{{ _ "Get in touch" }}">{{ _ "Get in touch" }}</a>
</div>