<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ language }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ language }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ language }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ language }}"> <!--<![endif]-->

    {{> head }}

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
    </script>

    <body class="page-contact">

        {{> header }}

        <div class="main-container">
            <div class="main clearfix">
                
                <article id="contact" class="pageview" data-pageview="get_in_touch">
                    <header class="wrapper">
                        <h2>{{ _ "Don't be shy. Let's talk about cloud!" }}</h2>
                    </header>
                    <section class="contact-form wrapper">
                        <form>
                            <fieldset>
                                <label>
                                    <span>{{ _ "Name" }} <em>*</em></span>
                                    <input type="text" name="name" tabindex=1>
                                </label>
                                <label>
                                    <span>{{ _ "Company" }}</span>
                                    <input type="text" name="company" tabindex=3>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label>
                                    <span>E-mail <em>*</em></span>
                                    <input type="text" name="email"  tabindex=2>
                                </label>
                                <label>
                                    <span>{{ _ "Phone" }}</span>
                                    <input type="text" name="phone" tabindex=4>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label>
                                    <span>{{ _ "Message" }} <em>*</em></span>
                                    <textarea rows="4" name="message" tabindex=5></textarea>
                                </label>
                            </fieldset>
                            <div class="footer clearfix">
                                <small><em>*</em> {{ _ "Required fields" }}</small>
                                <button type="submit" class="button orange fsize1" data-event="Get in touch,Button,Send"><span>{{ _ "Send" }}</span></button>
                            </div>
                            <div class="message-report">
                                <span class="success">{{ _ "Your message has been sent. Thank you." }}</span>
                                <div class="lst-error"></div>
                            </div>
                        </form>
                    </section>
                    <section class="contact-map map">
                        <div class="infos">
                            <div class="wrapper">
                                <div class="map">
                                    <address class="vcard">
                                        <h3 class="locality">São Paulo - SP</h3>
                                        <h4 class="tel"><span class="value">+55 11 3230-4112</span></h4>
                                        <h4 class="email">{{ _ "sales@getupcloud.com"}}</h4>
                                        <h4 class="email">{{ _ "support@getupcloud.com"}}</h4>
                                        <br>
                                        <a href="https://goo.gl/maps/BYrfC" target="_blank"><h4><span class="street-address">Rua Casa do Ator, 919</span><span class="region"> Vila Olímpia</span></h4>
                                        <h4><span class="postal-code">04546-003</span> - <span class="locality">São Paulo - SP</span> - <span class="country">{{ _ "Brazil" }}</span></h4></a>
                                    </address>
                                    <address class="vcard">
                                        <h3 class="locality">Overseas</h3>
                                        <h4 class="tel"><span class="value">+1 347 434-8009</span></h4>
                                        <h4 class="email">overseas@getupcloud.com</h4>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <a href="https://goo.gl/maps/BYrfC" target="_blank"><div id="map-canvas"></div></a>
                    </section>
                </article>
                {{> signup }}
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        {{> footer }}

        {{{ javascripts "contact" }}}
    </body>
</html>
