<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ language }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ language }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ language }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ language }}"> <!--<![endif]-->

    {{> head }}

    <body class="preloader article-links page-home">

        {{> header }}

        <div class="main-container">
            <div class="main clearfix">
                <div class="background-home-header">
                    <article id="grow-in-the-cloud" class="wrapper pageview" data-pageview="home">
                        <h2>{{ _ "Grow in the cloud" }}</h2>
                        <h3>{{ _ "Hosting to high performance applications and websites" }}</h3>
                        <a href="javascript:;" onclick="Getup.articles.sign_up.link()" class="button white upper fsize2" title="{{ _ "Free Trial" }}">{{ _ "Free Trial" }}</a>
                    </article>
                </div>

                <article id="all-you-need" class="wrapper pageview" data-pageview="everything_you_need">
                    <header>
                        <h2>{{ _ "Everything you need to grow in the cloud." }}</h2>                        
                    </header>
                    <div class="centralized">
                        <section>
                            <img src="/images/icon-up-and-running.png" height="107" width="150">
                            <h3>{{ _ "UP and running in 2 minutes" }}</h3>
                            <p>{{ _ "Pick the technologies and the installation of frameworks, libs, databases and updates are automated. In the end you get an URL and an SSL Certificate." }}</p>
                        </section>
                        <section>
                            <img src="/images/icon-scale-your-app.png" height="107" width="149">
                            <h3>{{ _ "Scale your application automatically"}}</h3>
                            <p>{{ _ "Getup auto-scaling gives you the power to add more capacity as your site traffic increases and remove it when not needed, automatically."}}</p>
                        </section>
                        <section>
                            <img src="/images/icon-bring-us-your-problem.png" height="107" width="138">
                            <h3>{{ _ "Bring us your biggest problem."}}</h3>
                            <p>{{ _ "Our DevOps support team will help you to build a rock solid architecture using technologies like Redis, Memcached, MongoDB and CDN."}}</p>
                        </section>
                    </div>
                </article>

                {{> cases }}                                    

                {{> multiple_datacenter }}
                

                <article id="dedicated-servers" class="wrapper clearfix pageview" data-pageview="dedicated_servers">
                    <figure>
                        <img src="/images/img-dedicated-servers.png">
                    </figure>
                    <section>
                        <h2>{{ _ "Dedicated Servers" }}</h2>
                        <h3>{{ _ "Startup agility for big companies" }}</h3>
                        <p>{{ _ "You're big, we get it! But it does not mean you need to move slowly. Our platform on dedicated servers might be what you've been looking for - Startup agility designed to enterprise requirements." }}</p>
                        <a href="{{ _ "/contact" }}" data-event="Home Page,Button,Drop us a line" class="button gray fsize2 padX15Y0" title="{{ _ "Drop us a line" }}">{{ _ "Drop us a line" }}</a>
                    </section>
                </article>
                
                <div class="background trust">
                    <article id="trust-is-everything" class="wrapper pageview" data-pageview="trust_is_everything">
                        <section>
                            <h2>{{ _ "Trust is everything" }}</h2>
                            <h3>{{ _ "Not just big brands, we proud ourselves in helping small companies and cool startups" }}</h3>
                        </section>
                        <figure>
                            <img src="/images/img-brands.png">
                        </figure>
                    </article>
                </div>

                <article id="cases-startups" class="wrapper clearfix pageview" data-pageview="cases_startups">
                    <figure class="cFigureWrapper">
                        <img src="/images/image-cloud-over-1.png" class="cFloat-top">
                        <img src="/images/image-cloud-over-2.png" class="cFloat-left">
                        <img src="/images/image-case.png" class="image">
                        <figcaption class="caption">Circuito Banco do Brasil</figcaption>
                    </figure>
                    <section>
                        <h2>Cases Startups</h2>
                        <h3>Picos de acesso controlados com escalabilidade automática.</h3>
                        <p>A Getup lhe dá o poder de adicionar mais capacidade quando o tráfego crescer e remover quando o tráfego diminuir, tudo automático.</p>
                        <p>A Getup lhe dá o poder de adicionar mais capacidade quando o tráfego crescer e remover quando o tráfego diminuir, tudo automático.</p>
                    </section>
                </article>

                {{> signup }}

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        {{> footer }}
    </body>
</html>
