<h1 class="h4">Perl</h1>

<p>{{ _ "Perl is a family of high-level, general-purpose, interpreted, dynamic programming languages. The Perl languages borrow features from other programming languages including C, shell scripting (sh), AWK, and sed. They provide powerful text processing facilities without the arbitrary data-length limits of many contemporary Unix commandline tools, facilitating easy manipulation of text files." }}</p>
<p>{{ _ "With Getup you can easily deploy and run Perl applications using your favorite framework and databases. Auto-Scale to millions of users without breaking a sweat about server setup and administration. Forget about servers and focus on the code." }}</p>

<h2 class="h5">Simplify the lifecycle</h2>
<p>{{ _ "Deploying Perl application with MySQL is as easy as it can be:" }}</p>
<pre>$ rhc app-create App perl-5.10 mysql-5.1</pre>
<p>{{ _ "The command will create your gear (server), install and configure Perl, MySQL and git repository on the server. Access your application on the web at http://App-namespace.getup.io - HTTPS works just fine as well, and all applications have a SSL certificate." }}</p>

<h2 class="h5">{{ _ "Auto scale" }}</h2>
<p>{{ _ "What about scale? Don't worry about it, we are specialists in high traffic, simple add the -s parameter when creating your application and voilá - the platform will scale your application." }}</p>
<pre>$ rhc app-create App perl-5.10 -s</pre>
<p>{{ _ "The scalability is based on simultaneous connections. The platform will add new gears every time your application receives a traffic spike, automatically." }}</p>

<h3 class="h5">{{ _ "Frameworks, databases and other tools" }}</h3>
<p>{{ _ "Would like to work with Dancer framework?" }}</p>
<pre>$ rhc app-create dancer perl-5.10 --from-code=https://github.com/openshift/dancer-example.git</pre>
<p>{{ _ "Work with database like MySQL, PostgreSQL or MongoDB through cartridges" }}</p>
<pre>$ rhc cartridge add mysql-5.1 -a App</pre>