<h4>MongoDB</h4>

<p>{{ _ "MongoDB is a document-oriented NoSQL database, using JSON-style documents with dynamic schemas." }}</p>
<p>{{ _ "With Getup you can easily deploy and run applications backed by PostgreSQL using your favorite servers and frameworks." }}</p>

<h5>{{ _ "Simplify the lifecycle" }}</h5>
<p>{{ _ "Deploying Node application with MongoDB is as easy as it can be:" }}</p>
<pre>$ rhc app-create App nodejs-0.10 mongodb-2.2</pre>
<p>{{ _ "The command will create your gear (server), install and configure Node.js, MongoDB and git repository on the server. Access your application on the web at http://App-namespace.getup.io - HTTPS works just fine as well, and all applications have a SSL certificate." }}</p>

<h5>{{ _ "Tools" }}</h5>
<p>{{ _ "Would like to use MMS (MongoDB Management Service)? Create your account at https://mms.10gen.com/ and add a cartridge:" }}</p>
<pre>$ rhc cartridge add 10gen-mms-agent-0.1-a App</pre>

<p>{{ _ "Or use your favorite client to get access through a SSH tunnel" }}</p>
<pre>$ rhc port-foward -a App</pre>