        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container closed"> <!-- start closed for mobile -->
            <header class="wrapper clearfix">
                <a href="{{ _ '/index_en.html' }}" class="article" data-article="home"><span class="ir logo">Getup Cloud</span></a>
                <img src="/images/getup.png" alt="Getup cloud" class="hidden" />
                
                <a class="menu-control" href="javascript:;">Menu</a>
                <nav>
                    <ul>
                        <li><a href="{{ _ '/index_en.html' }}#/how-it-works" data-event="Menu,Link,How it works" data-article="how-it-works" class="article">{{ _ "How it Works"}}</a></li>
                        <li><a href="{{ _ '/index_en.html' }}#/pricing" data-event="Menu,Link,Pricing" data-article="pricing" class="article">{{ _ "Pricing"}}</a></li>
                        <li><a href="/{{ _ "technology" }}" data-event="Menu,Link,Technology">{{ _ "Technology"}}</a></li>
                        <li><a data-event="Menu,External link,Support" href="https://getup.zendesk.com/home/">{{ _ "Support"}}</a></li>
                        <li><a data-event="Menu,External link,Blog" href="/blog/">{{ _ "Blog"}}</a></li>
                        <li><a href="{{ _ '/index_en.html' }}#/get-in-touch" data-event="Menu,Link,Get in touch" data-article="get-in-touch" class="article">{{ _ "Get in Touch"}}</a></li>
                    </ul>
                    <ul class="side">
                        <li><a class="button orange flat" target="_blank" data-event="Menu,Button,Signin" href="https://broker.getupcloud.com/console/signin">{{ _ "Log In"}}</a></li>
                        <li><a class="button red flat article all-article" href="#sign-up" data-event="Menu,Button,Signup" data-article="sign-up">{{ _ "Sign Up"}}</a></li>                        
                    </ul>
                </nav>

                <aside>
                    <a href="{{ pt_url }}" data-event="Language,Link,Portuguese" data-lang="pt-br" class="pt">Português</a>
                    <a href="{{ en_url }}" data-event="Language,Link,English" data-lang="en-us" class="black en">English</a>
                </aside>
            </header>
        </div>